body {
    background-size: cover;
}

.heading {
    width: 100%;
    text-align: left;
    padding: 5px;
}

.heading h3 {
    display: inline;
    font-size: 20px;
}

.heading button {
    float: right;
    border: 1px solid white;
    font-size: 12px;
}

#play_btn {
    margin-top: 10px;
}

#play_btn, #status {
    font-size: 17px;
}

#status {
    margin-top: 10px;
}

#canvas {
    width: 720px;
    height: 600px;
    margin-bottom: -15px;
    border: 5px ridge white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px white;
}

li {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}

#credits {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    margin: 0;
}
